body{
	background-color: #C4D5EE;
}

.ust-bar{
	height: 42px;
	background: #1B75BB;
	border: 1px solid #2F5190;
}

.not-hesaplama-baslik{
	width: 170px;
	height: 40px;
}

.cikis-butonu{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-image : url(../img/cikisBtn.svg);
	float: right;
	background-position : center center;
	background-size: 30px 30px;
	background-color: #1B75BB;
}

.bilgi-yazisi-1{
	padding-top: 100px;
	font-size: 22px;
	font-style: normal;
	font-weight:normal; 
}

.bilgi-yazisi-2{
	font-size: 25px;
}

.secenek{
	width: 150px;
	height: 125px;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.secenek:hover{
	width: 180px;
	height: 150px;
	margin-top: 0px;
	margin-left: -5px;
	margin-bottom: 0px;
	margin-right: -5px;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.secBtn{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 150;
    height: 125;
}

@media screen and (max-width: 768px) {
	.ust-bar{
		height: 37px;
	}

	.not-hesaplama-baslik{
		width: 150px;
		height: 35px;
	}

	.cikis-butonu{
		width: 34px;
		height: 34px;
		background-repeat: no-repeat;
		background-image : url(../img/cikisBtn.svg);
		float: right;
		background-position : center center;
		background-size: 27px 27px;
		background-color: #1B75BB;
	}

	.bilgi-yazisi-1{
		padding-top: 20px;
		font-size: 18px;
	}

	.bilgi-yazisi-2{
		font-size: 20px;
	}

	.secenek{
		width: 120px;
		height: 100px;
		margin-top: 80px;
		margin-left: 10px;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	.secenek:hover{
		width: 140px;
		height: 115px;
		margin-top: 75px;
		margin-left: 5px;
		margin-bottom: 0px;
		margin-right: -5px;
	}
}