body{
    background-color: #C4D5EE;
}

.home-info-text-1{
    padding-top: 100px;
    font-size: 22px;
    font-style: normal;
    font-weight:normal;
}

.home-info-text-2{
    font-size: 25px;
}

.secenek{
    width: 150px;
    height: 125px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.secenek:hover{
    width: 180px;
    height: 150px;
    margin-top: 0px;
    margin-left: -5px;
    margin-bottom: 0px;
    margin-right: -5px;
    cursor:pointer;
}
