body{
    background-color: #C4D5EE;
}

/* Home */

.home-info-text-1{
    padding-top: 100px;
    font-size: 22px;
    font-style: normal;
    font-weight:normal;
}

.home-info-text-2{
    font-size: 25px;
}

.option{
    width: 150px;
    height: 125px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.option:hover{
    width: 180px;
    height: 150px;
    margin-top: 0px;
    margin-left: -5px;
    margin-bottom: 0px;
    margin-right: -5px;
    cursor:pointer;
}

/* Home */

/* About */

.about-grade-calculation-btn{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position : center center;
    background-size: 30px 30px;
    background-color: #1B75BB;
}

.settings-btn{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image : url(../img/ayaraDonBtn.svg);
    background-position : center center;
    background-size: 30px 30px;
    background-color: #1B75BB;
}

.three-dot{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image : url(../img/ucNokta.svg);
    background-position : center center;
    background-size: 30px 30px;
    background-color: #1B75BB;
}

.about-title{
    font-size: 18px;
    color: #FFFFFF;
    padding: 9px;
}

.about-text-1{
    padding-top: 90px;
    font-size: 18px;
}

.about-text-2{
    padding-top: 70px;
    font-size: 18px;
    text-decoration: underline;
}

.about-text-3{
    padding-top: 90px;
    font-size: 15px;
}

.about-developer-eren{
    width: 200px;
    height: 80px;
}

.about-developer-veysel{
    width: 200px;
    height: 80px;
}

.dropbtn {
    background-color: #1B75BB;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #286090;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 40px;
    display: none;
    position: absolute;
    background-color: #286090;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

/* About */

/* Option */

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
    border: 0px;
}

.nav-pills > button.grade-tab-item {
    color: #ffffff;
    border: none;
}
.nav-pills > button.grade-tab-item.active {
    background-color: #ffffff;
    color: #000000;
    border: none;
}

.kur-not, .kur-label{
    position: relative;
    display: inline-block;
}

.kur-label-arkaplan{
    margin-top: 9px;
    display: inline-block;
    width: 140px;
    height: auto;
}

.kur-label-ortala{
    margin-top: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: left;
}

.kur-not-arkaplan{
    margin-left: -48px;
    margin-right: -48px;
    margin-top: 9px;
    display: inline-block;
    width: 140px;
    height: auto;
}

.kur-not-ortala{
    margin-top: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.hesapla-butonu-arkaplan{
    width: 140px;
    height: 80px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/notHesaplamaBtn.svg);
    background-position: center center;
    background-size: contain;
    margin-top: 9px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
}

.hesapla-butonu-arkaplan:active, .hesapla-butonu-arkaplan:active:focus, .hesapla-butonu-arkaplan:focus{
    outline: none;
    box-shadow: none;
    color: #FFFFFF;
}

.hesapla-butonu-arkaplan:hover{
    color: #FFFFFF;
}

.label-pro, .label-a{
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}

.yuzde-input-not{
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-image: url(../img/altigen.svg);
    background-position: center center;
    background-size: contain;
    width: 48px;
    height: 39px;
    margin-top: 0px;
    font-size: 16px;
    height: 45px;
    border: 0px solid #ccc;
    padding: 0px;
    text-align: center;
    box-shadow: none;
    display: inline-block;
}

.yuzde-input-not:focus{
    box-shadow: none;
}

/* Option */

/* Settings */

.ayar-bar{
    height: 42px;
    background: #1B75BB;
    border-left: 1px solid #2F5190;
    border-right: 1px solid #2F5190;
    border-bottom: 1px solid #2F5190;
}

.ayar-baslik{
    font-size: 18px;
    color: #FFFFFF;
    padding: 9px;
}

.settingsDefaultBtn{
    width: 140px;
    height: 80px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/varsayilanBtn.svg);
    background-position: center center;
    background-size: contain;
    margin-top: 9px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
}

.kur-not-arkaplan{
    margin-left: -48px;
    margin-right: -48px;
    margin-top: 9px;
    display: inline-block;
    width: 140px;
    height: auto;
}

.kur-not{
    position: relative;
    display: inline-block;
}

.settingsUpdateBtn{
    width: 140px;
    height: 80px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/kaydetBtn.svg);
    background-position: center center;
    background-size: contain;
    margin-top: 9px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
}

.quiz-yuzde{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border: 1px solid #2F5190;
    border-radius: 15px;
    padding: 10px;
    background-color: #FFFFFF;
}

.writing-yuzde {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid #2F5190;
    border-radius: 15px;
    padding: 10px;
    background-color: #FFFFFF;
}

.midterm-yuzde{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid #2F5190;
    border-radius: 15px;
    padding: 10px;
    background-color: #FFFFFF;
}

.speaking-yuzde{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid #2F5190;
    border-radius: 15px;
    padding: 10px;
    background-color: #FFFFFF;
}

.homework-yuzde{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 100%;
    height: 50px;
    border: 1px solid #2F5190;
    border-radius: 15px;
    padding: 10px;
    background-color: #FFFFFF;
}

.ayar-label{
    font-size: 14px;
    font-weight: normal;
    float: left;
}

.yuzde-input-ayar{
    background-repeat: no-repeat;
    background-image: url(../img/altigen.svg);
    background-position: center center;
    background-size: 44px 38px;
    width: 52px;
    font-size: 16px;
    height: 45px;
    border: 0px solid #ccc;
    text-align: center;
    box-shadow: none;
}
.yuzde-input-ayar:focus{
    box-shadow: none;
}

/* Settings */

/* Index */

.bilgi{
    padding-top: 100px;
    font-size: 22px;
    font-style: normal;
    font-weight:normal;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BCBCBC;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1B75BB;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}

/* Index */
