body{
	background-color: #C4D5EE;
}

.ust-bar{
	height: 42px;
	background: #1B75BB;
	border: 1px solid #2F5190;
}

.not-hesaplama-baslik{
	width: 170px;
	height: 40px;
}

.geri-don-butonu{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-image : url(../img/geriDonBtn.svg);
	background-position : center center;
	background-size: 30px 30px;
	background-color: #1B75BB;
}

.bilgi{
	padding-top: 100px;
	font-size: 22px;
	font-style: normal;
	font-weight:normal; 
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

@media screen and (max-width: 768px) {
	.ust-bar{
		height: 37px;
	}

	.not-hesaplama-baslik{
		width: 150px;
		height: 35px;
	}

	.geri-don-butonu{
		width: 34px;
		height: 34px;
		background-repeat: no-repeat;
		background-image : url(../img/geriDonBtn.svg);
		background-position : center center;
		background-size: 27px 27px;
		background-color: #1B75BB;
	}

	.bilgi{
		padding-top: 20px;
		font-size: 20px;
	}
}